<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ZooLinqDBTest.Properties.Settings.ZooDCConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=ZooDC;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>